# dependencies
node_modules/

# next.js
.next/
out/

# vercel
.vercel/

# env files
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# backup (contém dados sensíveis)
backup-pcp.json

# misc
*.tsbuildinfo
next-env.d.ts

# OS
Thumbs.db
Desktop.ini
.DS_Store
.vercel
.env*.local
